.div {
	font-family: Open Sans, Apercu, Brandon Grotesque, Montserrat, Futura;
	background-color:#B0C4DE;
	border: #cc0000;
	border-style: solid;
}

.nav a {
    color: #5a5a5a;
    font-size: 11px;
    font-weight: bold;
    padding-bottom: 14px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 14px;
    text-transform: uppercase;
}

.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

li {
	font-size: 50px;
}